<!DOCTYPE html>
<html>
<head>
	<title>Thermostat</title>

</head>
	<body>
		<header>
			<h1>The 27th/28th most awesome Thermostat in Makers September cohort</h1>
		</header>
			
		<section class="thermostat">
			<h2>Current Temperature</h2>

				<ul>
					<li><a href="#" class="increase_temperature" >+</a></li>
					<li><a href="#" class="decrease_temperature" >-</a></li>
					<li><a href="#" class="reset" >Reset</a></li>
					<li><a href="#" class="power_saver" >Power Saver Mode</a></li>			
				</ul>

		</section>

		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="/javascript/Thermostat.js"></script>
		<script src="/javascript/interface.js"></script>
	</body>
</html>